
#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
	
}


#panier{
    margin-left: 72%;
    height: 15px;
}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #dbe0e4;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
	color:darkblue;
}

#periodicite span {
    display: block; /* garantit le passage à la ligne ! */
  }
  
#periodicite input {
margin-right: 10px; /* on aére un peu */
}


body{
    background-color: lightgray;
}


#entete{
	background-color:darkblue;
	position:fixed;
	height:40;
	width:99%;
    margin-top:0;
    color:white;

}

#tablevelos{
    width:99%;
    position: absolute;
    margin-top:40px;
    color:black;
    text-align:center;
  }